<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="schemaName" value="MAYUSCULAS_SIN_ESPACIOS" />
    <add key="dbDataSource" value="localhost\SQLSERVER2005" />
    <add key="dbName" value="GD1C2011" />
    <add key="dbUsername" value="gd" />
    <add key="dbPassword" value="gd2011" />
  </appSettings>
</configuration>