entregable/src/VentaElectrodomesticos/VentaElectrodomesticos.suo
entregable/src/VentaElectrodomesticos/VentaElectrodomesticos/bin/
entregable/src/VentaElectrodomesticos/VentaElectrodomesticos/obj/
auxiliares/output_clean.txt
auxiliares/resultado_output.txt